[submodule ".vim/bundle/syntastic"]
	path = .vim/pack/syntax/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/pack/dev/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/pack/dev/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/dev/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/pack/syntax/start/vim-polygot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/pack/dev/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/pack/dev/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/pack/syntax/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/pack/syntax/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/pack/dev/start/powerline"]
	path = .vim/pack/dev/start/powerline
	url = https://github.com/powerline/powerline
[submodule ".vim/pack/dev/start/gruvbox"]
	path = .vim/pack/colors/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/dev/start/vim-go"]
	path = .vim/pack/dev/start/vim-go
	url = https://github.com/fatih/vim-go.git
